.kaydirilan-div {
  position: relative;
  animation: kaydirmadiv 1s cubic-bezier(0.42, 0, 0.58, 1);
}

.kay {
  position: relative;
  animation: kaydirma 1s cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes kaydirma {
  0% {
    right: -75%;
  }
  100% {
    right: 2%;
  }
}

@keyframes kaydirmadiv {
  0% {
    right: -100%;
  }
  100% {
    right: 2%;
  }
}